*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(4, 245, 245);
    color: rgb(250, 213, 6);

}
h1{
    text-align: center;
    padding: 10px;
}

img{
    width: 50%;
    height: auto;
}